:root{
hide:none;
}
/* index/kw */
.bodyc{
	background:white no-repeat center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;   
}
.kw{ 
	background:url("bannera.jpg")no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	height:100%;
    width:100%;
    background-size: cover;
}
.kwr{  /* idk later :) */
	background: white no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	height:95px;
    width:100%;
    background-size: cover;
}
.fondo{
	width: 100%;
	background: black;
}
.nav{
	background:black;
	width: 79%;
  	background-color:black;
  	margin: auto;
  	margin-top: -16px;
}
.logo{
	float:left;
	display:block;
	padding:20px 30px;
}
.favitop{	
	margin-top:-8px;
}
.nametop{	
	margin-top: -5px;
	margin-left: -45px;
}
.click:hover{
	-webkit-filter: invert(100%);
    filter: invert(100%);
    border-radius: 8px;
}
.divkw{
	text-align: center;
	margin: 0 10%;
	color: white;
}
.par1,.par2,.par3{
    font-weight:bold;
    text-align:center;
    text-indent:0em;
}
.par1{
    font-size: 35px;
}
.par2{
    font-size: 17px;
}
.par3{
    font-size: 25px;
}
.faq{
	margin-top: 75px;
}
div div p:last-child{
	margin-bottom: 75px;
}
nav div ul li ul li a{
	width:130px;
	height:20px;
	text-align:left;
}
nav div ul li{
	display:inline-block;  
}
nav ul {
  	text-align: right;  /* cualquiera no hace falta copncretar ya que lo queremos para todos*/
}
.sub-menu{
	position: absolute;
  	display: none;
  	margin-left: -40px;
}
.menu-item:hover .sub-menu{   
  	display: block;
}
.sub-menu-item{
  	background: black;
  	display: block;
}
.sub-menu-item:hover{
  	background:black;
}
.link{
	color:#FFFFFF;
	display:block;
	text-decoration: none;
	padding:20px 30px;
 }
.link:hover {
	background:white;
	color:black;
}
nav div ul a.active{
	background: white;
	color: black;
}
.max{width: 65%; margin-left: 17.5%; margin-right: 17.5%;}
/*.marginhome1{
	text-align: center;
	margin: 0 10%;
	color: black;
}*/
.titulobanner{
	color:white;
	text-align: center;
}
.blackhome{
	background: black;
	margin: -2em 0px;
}
.registrate{
	color:#fab53f;
}
.error{
	background:url("error.png")no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color:black;
	height:9999px;
    border: 15px red white;
    background-size: cover; 
    margin-top:0px; 
	width:100%;
}
p{
    margin-top: .50em;
    text-align: justify;
    margin-bottom: .50em;
    font-family:lato;
}
hr{
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 33%;
    margin-right: 33%;
    clear: both;
}
.asterisco{
  	color:red ;
  	margin-left: 10%;
}
.asteriscoonlyred{
  	color:red ;
}
/* ebooks*/
.maths, .chemistry, .physics{

 display: inline; /*quitar efecto de piramide*/
}
#maths:checked ~ #market .physics, #maths:checked ~ #market .chemistry {
	display: none;
}
#physics:checked ~ #market .maths, #physics:checked ~ #market .chemistry {
	display: none;
}
#chemistry:checked ~ #market .physics, #chemistry:checked ~ #market .maths {
	display: none;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;  
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 0%;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  z-index: -1;
}
input[type="radio"] + label::before {
  background: white;
}
input[type="radio"]:checked + label {
  padding-left: 15px;
  color: white;
}
input[type="radio"]:checked + label::before {
  top: -3;
  width: 100%;
  height: 100%;
  background: black;
}
label,label:before {
  -webkit-transition: .20s all ;
  -o-transition: .20s all ;
  transition: .20s all ;
}
.margin{
	margin-left: 10%
}
.margin2{
	margin-left: 5%;
}
#market{
	text-align: center;
	margin-top: 45px;
	margin-right:10%; 
	margin-left:10%;
}
.books{
  	margin: 15px 10px; 
  	display: inline-block;
	width:225px;
  	height:400px;
	vertical-align: top; /* igual de margen tanto arriba y abjo aunque tengan mas texto (pues que el nombre del libro ocupe 2 o mas lineas)*/
}
.booksnamecenter{
  	text-align: center;
}
.searchebooks{
 	margin: 3% 10%; 			
 	font-size: 20px; /* IMPORTANTE ESTE MARGIN DE 10 % PERMITE QUE EN LA SELECION DE NOTES SE VEA ALINEADO CON EL CONTROL + F Y ESO SE DEBE A QUE LOS DOS CONTENEDORTES DE LONK ESTAN CENTRADOS EN EL CENTRO Y ADEMAS TIENEN UN WIDTH DE 40% Y SON 2 PORELO QUE 80 Y COMO ESTA ALIENADO EN EL CENTRO QUEDA 10 % 	TANTO A  IZQUIERDA COMO S LA DERECHA :); */ 
 	font-weight: bolder;
 }
 /* infolinux*/ 
 .margininfolinux{
 	text-align: center;
 	margin:0px 10%;
 }
/* sofware */
.program{
	text-align: left;
	margin-left: 10%;
}
.centersoftware{
	text-align: center;
}
.imagesoftware{
	border:solid black 4px;
	display: inline-block;
	margin-bottom: 50px;
}
.textosoftware{
	display: inline-block;
	vertical-align: top;
	height: 130px;
	width: 740px;
	margin: 15px 15px 150px 8px;
}
.btnsoftwaredownload{
	background-color:#1e90ff;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	margin: 5px 5px;
	margin-left: 2%;
	margin-top: 50px;
	width: 700px;
}
.btnsoftwaredownload:hover{
  	background-color: #4169e1;
}
/* OPEN   */ 
.open{
	display: inline-block;
	border: 2px black solid;
}
.conteopen{
	position: absolute;
	width: 80%;
	margin: auto;
	text-align: center;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#textopen{
	text-align: center;
	margin:8px 0px 8px 0px;
}
.open:hover{
	transform: rotate3d(0,1,0, 180deg);
}
/* notes */

#notes{
	/* margin: auto;
	width: 100%;  si se quiere modifical el widht del div y mantener el contenido centrado*/
	
}
.linknotes{
	display: block; /* para el margin y block para que ocupe el full y no se mezcle */
	color: #ff851b;
	margin: 18.720px 0px 0px 0%;
}
.backnotes{	
	background: #85144b;
	text-align: center; /* para alienar los div asl centro, ademas ya que se alinea al centro no hay motivo parea meter un width con margin auto aunque si se deseare se podria hacer, eso si descomentando el widh de los titulos si se quiere hacer algo mas especifico como dar un margin de 2% el L y R y el contenido posea un INLINE para que no haya conflictos no deseado se requer un widht de 96% para este caso */
}
.h3notes {
	display: inline-block; /* para que funcione el margin */
	/*margin-left: 10%;*/
	color: white;
	text-align: left; /* sczd derecha centro o izquierda */
	margin-top: 15px;
	/*width: 80%;*para que en redimensionar or similarr no se le pongan al lado moidelo a y b*/
}
.h3notesb {
	display: inline-block; /* para que funcione el margin */
	/*margin-left: 10%;*/
	color: white;
	text-align: left; /* sczd derecha centro o izquierda */
	margin-top: 15px;
	 width: 80%; /* ESTE EVITA QUE SE PONGA ALONGSIDE CON EL CONTENIDO Y 80 DEBIDO A QUE 40 Y 40,,,///para que en redimensionar or similar no se le pongan al lado moidelo a y b*/
}
.pir{
	display: inline-block; /* para juntar las 2 columnas */
	width: 40%; /* 10 80 10 porllo que del 80 sale 40 y 40 ya que son 2 */
	text-align: left; /*  alineacion del contenido (links,etc ) del modelo a*/
}
.linknotesb{
	display: inline-block; /*para lo contrario d elo anterio para que se amontonen*/
	color: #ff851b;
	width: 40%; /* con esto le admos un width por lo  que va aocupar si o si  lo que crea una separacion emtre ella simulando una separacion cuando se tarta del mismo bloque y 40 para que se aperfecto*/
	margin: 18.720px 0px 0px 0%; /* SI PONES EL LAST CHILD POR ENCIMA SE CANCELA DEBIDO A QUE ESTAS DICIENDO QUE QUIERS 0px con boy esto se debe a va en orden ej la primera es 0 y las segunda es 2 se queda con 1 se sobreescribe, aunque es obvio en contenido esporadico se suele parar por alto a la primera*/
}
.linknotes:hover{
	color: white;
}
.linknotesb:hover{
	color: white;
}
.pirb{
	display: inline; /* auqneu ya esta por defecto para 2 columnas */
	width: 39%;
	text-align: left; /* alineacion del contenido (links,etc ) del modelo b*/ 

}
.lastchild{
	margin-bottom:50px;
}
/* FOOTER */
.bold{
	font-weight:bold;
	font-size: 18px;
}
footer{
	width: 100%;
	background: white;
}
.footera{
	background:url("bannerb.png") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	height: 350px;
}
.footerb{
	background: white;
	text-align: center;
	height: 30px;
}
.footerc{
	text-align: center;
	height: 30px;
}
.index{
	background:url("bannerb.png") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
/* ABOUT */
.who{
	display: inline-block;
	margin: 70px 15px 50px 30px;
}
.whotextoa{
	display: none;
	margin-top: 85px;
	vertical-align:top;
	height: 130px;
	width: 250px;
	color:white;
}
.whotextob{
	display: none;
	vertical-align:top;
	color: white;
	margin-top: 90px;
	height: 130px;
	width: 300px;
	margin-right: 35px;
}
.whocircle{
  border-radius:150px;
  border: solid transparent 6px;
}
.whocircle:hover{
	border:solid 6px white;
	-webkit-transition: .3s;
}
.about{
	margin:-45px 30px;
	color:white;
	text-align: center;
}
.textoabout{
	text-align: center;
	margin-bottom:0px;/*IMPORTANTE EN LAST CHILD SE LE DIO 75 PX DE MARGEN DE BOTTOM, y por defento tiene 8 pixeles pero se puede quitar np*/
}
.izquierda{
	display: inline-block;
	float: left;
}
.centrado{
	text-align: center;
	display: inline-block;
	margin-top: -7px;
}
.derecha{
	display: inline-block;
	float: right;
}
.alllink{
	width: 50%;
	margin: auto;
	margin-top: 100px; /* como se posiciona desde arribe y ademas el width es de 100px pues para la mitad el margin-top  100 px porque el width de la caja es de 100px y el margin se aplica desde el objeto pero como el obejto esta  arriba sin margin respecto al div anterior se queda enn la midas justo .), en concusion seria la caja innvertida como un rotate(180deg).*/
}
.link2{
	color: #0366d6;
	text-decoration: none;
	background-color: transparent;
	font-size: 12px; 
	margin: 0px 7px;
}
.link2:hover{
	text-decoration: underline;
}
.link3{
	color:#fab53f ;
	text-decoration: none;
	background-color: transparent;
	font-size: 12px; 
	margin: 0px 7px;
}
.link3:hover{
	text-decoration: underline;
}
/* @MEDIA */
@media only screen and (min-width: 1250px){
.whotextoa, .whotextob{
	display: inline-block;
}
}
/* 
 __          # ________      # ________     # ___   __      # ______    # __  __    #
/_/\         #/_______/\     #/_______/\    #/__/\ /__/\    #/_____/\   #/_/\/_/\   #
\:\ \        #\::: _  \ \    #\__.::._\/    #\::\_\\  \ \   #\::::_\/_  #\ \ \ \ \  #
 \:\ \       # \::(_)  \ \   #   \::\ \     # \:. `-\  \ \  # \:\/___/\ # \:\_\ \ \ #
  \:\ \____  #  \:: __  \ \  #   _\::\ \__  #  \:. _    \ \ #  \:::._\/ #  \::::_\/ #
   \:\/___/\ #   \:.\ \  \ \ #  /__\::\__/\ #   \. \`-\  \ \#   \:\ \   #    \::\ \ #
    \_____\/ #    \__\/\__\/ #  \________\/ #    \__\/ \__\/#    \_\/   #     \__\/ #
*/