body {
   margin-left: 10%;
   margin-right: 10%;
}
/*MENU*/
nav {
  width: 100%;
  background-color:rebeccapurple;
}
nav a {
	color:#FFFFFF;
	display:block;
	text-decoration: none;
	padding:20px 30px;
 }
nav a:hover {
	background:#E0BBE4;
}
nav ul li ul li a {
	width: 150px;
	height: 20px;
	text-align: left;
}
nav ul li {
	display:inline-block;  
}
nav ul {
  text-align: right;
}
.sub-menu {
	position: absolute;
  	display: none;
  	margin-left: -40px;
}
.menu-item:hover .sub-menu {   
  	display: block;
}
.sub-menu-item {
  	background: #957DAD;
  	display: block;
}
.sub-menu-item:hover {
  	background:#E0BBE4;
}
/* INDEX */
p{
    margin-top: .50em;
    text-align: justify;
    margin-bottom: .50em;
}
hr{
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 33%;
    margin-right: 33%;
    clear: both;
}
.max{width: 65%; margin-left: 17.5%; margin-right: 17.5%;}
.banner{width: 450px; height: 253px;margin: auto;margin-top: 50px;margin-bottom: 25px;}
.par1,.par2,.par3{
    font-weight:bold;
    text-align: center;
    text-indent: 0em;
}
.par1{
    font-size: 54px;
}
.par2{
    font-size: 17px;
}
.par3{
    font-size: 25px;
}
.asterisco{
  	color:red ;
}
.separadortop{
	margin-top: 75px;
}

/* ABOUT */
.who{
	display: inline-block;
	margin: 25px 30px 50px 30px;
}
.whotextoa{
	display: none;
	vertical-align:top;
	height: 130px;
	width: 250px;
	margin-top: 36px;
	margin-right: 35px;
}
.whotextob{
	display: none;
	vertical-align:top;
	margin-top: 42px;
	height: 130px;
	width: 300px;
	margin-right: 35px;
}
.whocircle{
  border-radius:150px;
}
.whocircle:hover{
	border:solid 6px black;
	width: 117px;
	height: 117px
}
/* EBOOKS */
.books{
  	margin: 20px 12px;
  	display: inline-block;
}
.booksnamecenter{
  	text-align: center;
}

/* SOFTWARE */

.imagesoftware{
	border:solid black 4px;
	display: inline-block;
	margin-bottom: 50px;
}
.textosoftware{
	display: inline-block;
	vertical-align: top;
	height: 130px;
	width: 740px;
	margin: 15px 15px 150px 8px;
}
.btnsoftwaredownload{
	background-color:#1e90ff;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	margin: 5px 5px;
	margin-left: 2%;
	margin-top: 50px;
	width: 700px;
}
.btnsoftwaredownload:hover{
  	background-color: #4169e1;
}

/* @MEDIA */
@media only screen and (min-width: 1250px){
.whotextoa, .whotextob{
	display: inline-block;
}
}
/* FOOTER */
footer{
	height: 120px;
	width: 100%;
	background-color: white;
}
